<section>
    <div class="container">
        <div class="row">
            <div class="confirmation-container">
                <h1>Payment Successful!</h1>
                <p>Thank you for your purchase. Your payment has been successfully processed.</p>
                <p>You will receive a registration confirmation email shortly with all the details of your order.</p>
                <p>If you have any questions or need further assistance, please contact our support team.</p>
                <a (click)="goToHomePage()">Back</a>
            </div>            
        </div>
    </div>
</section>