<div *ngIf="isLoading" id="loading">
    <img id="loading-image" width="40px" src="assets/loading.gif" alt="Loading..." />
</div>
<section id="Intro">
    <div class="container my-2">
        <div class="row g-0 px-3 px-lg-0">
            <div class="col-md-3 my-3 my-lg-0">
                <input type="text" placeholder="name" maxlength="50" autocomplete="off"
                    class="input-border-color input-text-color col-md-10 col-12" [(ngModel)]="participantDetails.name">
            </div>
            <!-- <div class="col-md-3 my-3 my-lg-0">
                <input type="text"  placeholder="date of birth" maxlength="15" (keyup)="onlyNumberKey($event)" (keypress)="onlyNumberKey($event)"
                oninput="this.value = this.value.replace(/[^0-9\/]/g,'').replace(/(\/{2,})/g, '/').replace(/(\d{2}\/)(\d{2}\/)(\d{4})/g, '$1$2$3').slice(0, 10)"
                    class="input-border-color input-text-color col-md-10  col-12" [(ngModel)]="participantDetails.dob">
            </div> -->

            <div class="col-md-3 my-3 my-lg-0">
                <input type="text" placeholder="date of birth" maxlength="10"  autocomplete="off"
                    class="input-border-color input-text-color col-md-10 col-12" [(ngModel)]="participantDetails.dob"
                    (input)="formatDOB($event)" (keydown)="preventNonNumeric($event)" inputmode="numeric">
            </div>


            <div class="col-md-3 my-3 my-lg-0">
                <input type="text" placeholder="mobile" oninput="this.value = this.value.replace(/[^0-9]/g,'')"
                    maxlength="10" class="input-border-color input-text-color col-md-10 col-12"
                    [(ngModel)]="participantDetails.mobile" inputmode="numeric"  autocomplete="off">
            </div>
            <div class="col-md-3 my-3 my-lg-0">
                <input type="text" class="mb-0" placeholder="shirt size" readonly autocomplete="off"
                    class="input-border-color input-text-color  col-md-10  col-12">
                <div class="control col-10 d-flex justify-content-between mt-1">
                    <label class="radio input-label-color">S
                        <input type="radio" name="shirt"  autocomplete="off" [(ngModel)]="participantDetails.shirt"
                            (change)="onShirtChange($event)" value="S" />
                    </label>
                    <label class="radio input-label-color">M
                        <input type="radio" name="shirt"  autocomplete="off" [(ngModel)]="participantDetails.shirt"
                            (change)="onShirtChange($event)" value="M" />
                    </label>
                    <label class="radio input-label-color">L
                        <input type="radio" name="shirt"  autocomplete="off" [(ngModel)]="participantDetails.shirt"
                            (change)="onShirtChange($event)" value="L" />
                    </label>
                </div>
            </div>
        </div>
        <div class="row g-0 mt-3 px-3 px-lg-0">
            <div class="col-md-3 mb-3 my-lg-0">
                <input type="text" placeholder="email" class="input-border-color input-text-color col-md-10 col-12"
                    [(ngModel)]="participantDetails.email">
            </div>
            <div class="col-md-3 my-3 my-lg-0">
                <label class="input-label-color label-font">gender</label>
                <div class="control col-4 d-flex justify-content-between">
                    <label class="radio input-label-color">M
                        <input type="radio" name="gender" [(ngModel)]="participantDetails.gender"
                            (change)="onGenderChange($event)" value="M" />
                    </label>
                    <label class="radio input-label-color">F
                        <input type="radio" name="gender" [(ngModel)]="participantDetails.gender"
                            (change)="onGenderChange($event)" value="F" />
                    </label>
                </div>
            </div>
            <div class="col-md-3 my-3 my-lg-0">
                <label class="input-label-color label-font">ticket</label>
                <div class="control">
                    <label class="radio d-block input-label-color">
                        <input type="radio" name="ticket" [(ngModel)]="participantDetails.ticketId"
                            [value]="EARLY_BIRD_TICKET_ID" />
                        Early Bird - RM40
                    </label>
                    <label class="radio d-block input-label-color">
                        <input type="radio" name="ticket" [(ngModel)]="participantDetails.ticketId"
                            [value]="LATE_BIRD_TICKET_ID" />
                        General - RM50 </label>
                </div>
            </div>
            <div class="col-md-3 my-3 my-lg-0">
                <div class="control">
                    <label class="radio input-label-color">
                        <input type="checkbox" name="answer" [(ngModel)]="participantDetails.terms_conditions" />
                        terms & conditions
                    </label>
                </div>
                <div class="button-attached mt-3">
                    <a class="btn-style-1 btn fw-400 register-btn" (click)="registerParticipant()">Register & Pay</a>
                </div>
            </div>
        </div>
    </div>
</section>