    <header>
        <h1 class="text fs-18" style="margin: 10px 0px;">Events.Studio</h1>
        <div class="line-divider"></div>
    </header>
    <div class="parent-container">
        <div class="center-div">
            <h2 class="text fs-25" style="font-size: 40px;margin: 5px 0px;">Page Not Found</h2>
        </div>
    </div>
    <footer>
        <div style="display: inline-flex;width: 100%;align-items: center;">
            <div style="width: 95%;">
                <div class="line-divider"></div>
            </div>
            <img width="40px" style="margin-right: 5px;"
                src="https://mediafiles.blob.core.windows.net/images/event-globibo-footer.png"
                alt="event-globibo-footer">
        </div>
        <p style="color: #AEAEAE;font-size: 18px;font-weight: 400;margin: 10px 0px;">&copy; Globibo Media <span id="currentYear"></span> -
            Events.Studio</p>
    </footer>